@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2ed69;
  max-width: 1536px;
}
.listcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #beb7b7;
}